// Colors
$color-primary:#0f5259;
$color-accent: #59160F;
$color-dark: #0C4247;
$color-light: #B7CBCD;
$color-white: #fafafa;
$color-gray: #ECECEC;

// Typography
$font-family: proxima-nova,sans-serif;
$font-size-base: 1rem;

// Font weight
$font-weight-base: 400;
$font-weight-heading: 800;
$font-weight-bold: 800;

// Line height
$line-height-base: 1.6;
$line-height-heading: 1.2;

// Breakpoints
$sm-screen: 36.125em;	// 576px
$md-screen: 48em;		// 768px
$lg-screen: 62em;		// 992px;
$xlg-screen: 75em;		//1200px;

// Widths
$max-width: 1200px;

// Padding
$padding-side: 6.5em;
$padding-side-small: 1.5em;

// Misc
$shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
$radius: 1rem;