@import './config.scss';

.btn {
    border-radius: 2em;
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .05em;
    margin: 0 .5rem;
    padding: .75em 1.5em; 
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    @include media($lg-screen) {
        padding: .75em 2.5em; 
    }

}
.blue {
    composes: btn;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: white;
    &:hover, 
    &:focus {
        background-color: transparent;
        color: $color-primary;
        outline: none;
    }
    &:not([href]) {
        background-color: $color-light;
        border-color: $color-light;
        color: white;
    }
}

.light {
    composes: btn;
    background-color: $color-light;
    box-shadow: 0 0 0 2px $color-light;
    color: white;
    &:hover,
    &:focus {
        background-color: white;
        color: $color-light;
        outline: none;
    }
}
