@import './config.scss';

.container {
    display: flex;
    border-radius: $radius;
    box-shadow: $shadow;
    min-height: 375px;
    margin-top: 2.5rem;
    &:nth-child(odd) {
        flex-direction: row-reverse;
        .image {
            border-radius: $radius 0 0 $radius;
        }
    }
    &:hover {
        .image {
            background: #9FBABD;
            img {
                transform: scale(1.1) translateX(-1rem);
            }
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding: 2.25rem;
    width: 50%;
}

.image {
    background: #5E7274;
    border-radius: 0 $radius $radius 0;
    flex: 0 0 50%;
    margin: 0;
    overflow: hidden;
    width: 50%;
    transition: background .5s ease-in-out;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: transform .5s ease-in-out;
    }
}

.buttons {
    margin-top: 2.5rem;
}

.tags {
    display: flex;
    justify-self: flex-end;
    list-style-type: none;
    margin-top: auto;
    padding: 0;
    li {
        background-color: #B7CBCD;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .05em;
        padding: .25rem .75rem;
        text-transform: uppercase;
    }
    li + li {
        margin: 0 0 0 .5rem;
    }
}
