@import './config.scss';

.container {
    margin: 0 auto;
    max-width: $max-width;
    padding: 4rem $padding-side;
}

.columns {
    display: flex;
    margin-top: 2.5rem;
}

.column {
    flex-basis: 100%;
    + .column {
        margin: 0 0 0 2.5rem;
    }
}