.hero {
    background: #0C4247;
    color: white;
    margin: 0;
    padding: 8rem 0;
    div {
        margin: 0 auto;
        max-width: 1140px;
        text-align: center;
        h1 {
            font-size: 4.5rem;
            font-weight: 800;
            line-height: 1.2;
            letter-spacing: .025em;
            max-width: 25ch;
            margin: 0 auto;
        }
        p {
            font-size: 1.333rem;
            font-weight: 300;
            letter-spacing: .05em;
        }
    }
}